.favMovieImg_container img {
  width: 120px;
  height: 200px;
}
.favMovie_container {
  display: grid;
}
.favMovieTitle_container {
  display: grid;
}
.removeBtn {
  background-color: transparent;

  cursor: pointer;

  border: 0;
}
.deleteBtn_container {
  display: flex;

  justify-self: center;

  align-items: center;
}

.pagination_container {
  display: grid;
}

@media (min-width: 320px) {
  .favMovie_container {
    grid-template-columns: 1fr 1fr 0.5fr;

    margin: auto;
  }
  .favMovieTitle_container {
    justify-content: center;
    align-items: center;
    text-align: center;
  }
}
@media (min-width: 1200px) {
  .favMovie_container {
    grid-template-columns: 1fr 1fr 1fr;

    margin: auto;
  }
  .favMovie_wrapper {
    padding: 20px 25rem;
  }
}
