.movies_container {
  display: flex;
}
.loadMoreBtn {
  display: flex;
  justify-content: center;
}

@media (min-width: 320px) {
  .movies_container {
    gap: 15px;

    overflow-x: scroll;
    overflow-y: hidden;
  }
}

@media (min-width: 1200px) {
}
