.trending_container {
  display: flex;

  padding: 30px 20px;
}
@media (min-width: 320px) {
  .trending_container {
    gap: 15px;

    overflow-x: scroll;
    overflow-y: hidden;

    white-space: nowrap;
  }
}

@media (min-width: 1200px) {
}
